<!--
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate %>.</p>
<p>Only <%= @owner.countdown %> days until my birthday!</p>
<p>And I'll be dead in <%= @owner.deathdate%> </p>
-->
<form>


Request a favour:
  <textarea rows="4000" cols="50">

  </textarea>


  Username: <input type="text" name="lastname">
  Password: <input type="text" name="lastname">


  <button type="submit" name="submit" > Submit </button>
  <button type="submit" name="viewfavours" > View Favours </button>

</form>